######### FLASK ##########
.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
static/pdf/

#postgres binary dumps
*.dump 

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

.sublimelinterrc


#random anonations
#feel free to erase any of these
garbage.txt
operations_log.txt
test.json
*.db-journal
*.glue
creation.sql
