<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>
	<div align="center"><h2>{{ title }}</h2></div>
	<p>Vista rapida</p>
	<div>
		<p><strong>Total de articulos vendidos</strong> :: <strong>{{ totalItemsSold }}</strong></p>
		<p><strong>Total de ventas</strong> :: <strong>{{ totalSales }}</strong></p>
		<p><strong>Total de ganancias</strong> :: <strong>{{ totalEarnings }}</strong></p>
	</div>

	

	<table>
		<thead>
			<tr>
				<th>No. de Venta</th>
				<th>Articulo</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Ganancia</th>
			<tr>
		</thead>
		<tbody>
		{% with %}
			{% set lastId = -1 %}
			{% set trclass = "darker" %}
			{% for sale in sales %}
				{% if lastId != sale.idsale %}
					{% set lastId = sale.idsale %}
					{% if trclass == "lighter" %}
						{% set trclass = "darker" %}
					{% else %}
						{% set trclass = "lighter" %}
					{% endif %}
				{% endif %}
				<tr>
					<td class="{{ trclass }}"> {{ sale.idsale }}</td>
					<td class="{{ trclass }}"> {{ sale.name }}</td>
					<td class="{{ trclass }}"> {{ sale.units }}</td>
					<td class="{{ trclass }}"> {{ sale.price }}</td>
					<td class="{{ trclass }}"> {{ sale.totalEarning }}</td>
				</tr>
			{% endfor %}
		{% endwith %}
		</tbody>
	</table>
</body>	
</html>